### Comprehensions and Generations

In [2]:
li = []
print(bool(li))

False

### List Comprehensions Versus map

- Python’s built-in ord function returns the integer code point of a single character (the chr built-in is the converse—it returns the character for an integer code point).

In [3]:
ord('s')

115

In [5]:
# for loop
res = []
for x in 'spam':
    res.append(ord(x)) # Manual result collection
    
res

[115, 112, 97, 109]

In [6]:
# map
res = list(map(ord, 'spam')) # Apply function to sequence (or other)
res

[115, 112, 97, 109]

In [7]:
# list comprehension 
res = [ord(x) for x in 'spam'] # Apply expression to sequence (or other) 
res

[115, 112, 97, 109]

In [8]:
[x ** 2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [11]:
list(map((lambda x: x ** 2), range(10)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

#### picking up even numbers from 0 to 4;

In [13]:
# list comprehension
[x for x in range(5) if x % 2 == 0]

[0, 2, 4]

In [17]:
# filter
list(filter((lambda x: x % 2 == 0), range(5)))

[0, 2, 4]

In [15]:
# for loop
res = []
for x in range(5):
    if x % 2 == 0:
        res.append(x)
res

[0, 2, 4]

#### if clause  in our list comprehension, give the effect of a filter and a map, in a single expression:

In [18]:
[x ** 2 for x in range(10) if x % 2 == 0]

[0, 4, 16, 36, 64]

In [21]:
list(map((lambda x: x ** 2), filter((lambda x: x % 2 == 0), range(10))))

[0, 4, 16, 36, 64]

#### Formal comprehension syntax

In [ ]:
[ expression for target in iterable ]

In [ ]:
[ expression for target1 in iterable1 if condition1
             for target2 in iterable2 if condition2 ...
             for targetN in iterableN if conditionN ]

#### Nested for loops within a list comprehension

In [22]:
# list comprehension
res = [x + y for x in [0, 1, 2] for y in [100, 200, 300]]
res

[100, 200, 300, 101, 201, 301, 102, 202, 302]

In [24]:
res = []
for x in [0, 1, 2]:
    for y in [100, 200, 300]:
        res.append(x + y)
res

[100, 200, 300, 101, 201, 301, 102, 202, 302]

### iteration over any sequence or iterable

In [25]:
[x + y for x in 'spam' for y in 'SPAM']

['sS',
 'sP',
 'sA',
 'sM',
 'pS',
 'pP',
 'pA',
 'pM',
 'aS',
 'aP',
 'aA',
 'aM',
 'mS',
 'mP',
 'mA',
 'mM']

#### associated if filter

In [26]:
[x + y for x in 'spam' if x in 'sm' for y in 'SPAM' if y in ('P', 'A')]

['sP', 'sA', 'mP', 'mA']

In [27]:
[x + y + z for x in 'spam' if x in 'sm' 
            for y in 'SPAM' if y in ('P', 'A') 
             for z in '123' if z > '1']

['sP2', 'sP3', 'sA2', 'sA3', 'mP2', 'mP3', 'mA2', 'mA3']

In [28]:
# list comprehension
[(x, y) for x in range(5) if x % 2 == 0 for y in range(5) if y % 2 == 1]

[(0, 1), (0, 3), (2, 1), (2, 3), (4, 1), (4, 3)]

In [31]:
# equivalent statement code
res = []
for x in range(5):
    if x % 2 == 0:
        for y in range(5):
            if y % 2 == 1: 
                res.append((x, y))
res

[(0, 1), (0, 3), (2, 1), (2, 3), (4, 1), (4, 3)]

### Example: List Comprehensions and Matrixes

In [32]:
M = [[1, 2, 3],
     [4, 5, 6],
     [7, 8, 9]] 

N = [[2, 2, 2],
     [3, 3, 3],
     [4, 4, 4]]

In [33]:
M[1] # Row 2

[4, 5, 6]

In [34]:
M[1][2] # row 2, item 3

6

In [35]:
[row[1] for row in M] # column 2

[2, 5, 8]

In [38]:
[M[row][1] for row in (0, 1, 2)] # using offsets

[2, 5, 8]

In [40]:
# Diagonals 
[M[i][i] for i in range(len(M))]

[1, 5, 9]

In [42]:
[M[i][len(M)-1-i] for i in range(len(M))]

[3, 5, 7]

In [41]:
[N[i][i] for i in range(len(N))]

[2, 3, 4]

In [48]:
[N[i][len(N)-1-i] for i in range(len(N))]

[2, 3, 4]

In [45]:
len(M)

3

#### Changing the matrix in place

In [52]:
L = [[1, 2, 3], [4, 5, 6]]
for i in range(len(L)):
    for j in range(len(L[i])): # update in place 
        L[i][j] += 10
L

[[11, 12, 13], [14, 15, 16]]

In [54]:
[col + 10 for row in M for col in row] # Assign to M to retain new value

[11, 12, 13, 14, 15, 16, 17, 18, 19]

In [55]:
[[col + 10 for col in row] for row in M]

[[11, 12, 13], [14, 15, 16], [17, 18, 19]]

In [56]:
M

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [57]:
N

[[2, 2, 2], [3, 3, 3], [4, 4, 4]]

#### Statements equivalent

In [59]:
res = []
for row in M: # Statement equivalents
    for col in row: # Indent parts further right
        res.append(col + 10)
res

[11, 12, 13, 14, 15, 16, 17, 18, 19]

In [60]:
res = []
for row in M: 
    tmp = [] # Left-nesting starts new list
    for col in row:
        tmp.append(col + 10)
    res.append(tmp)
res

[[11, 12, 13], [14, 15, 16], [17, 18, 19]]

#### combining values of multiple matrixes

In [70]:
M

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [71]:
N

[[2, 2, 2], [3, 3, 3], [4, 4, 4]]

In [74]:
[M[row][col] * N[row][col] for row in range(len(M)) for col in range(len(N))]

[2, 4, 6, 12, 15, 18, 28, 32, 36]

In [66]:
res = []
for row in range(3):
    for col in range(3):
        res.append(M[row][col] * N[row][col])
res

[2, 4, 6, 12, 15, 18, 28, 32, 36]

In [67]:
[[M[row][col] * N[row][col] for col in range(3)] for row in range(3)]

[[2, 4, 6], [12, 15, 18], [28, 32, 36]]

In [75]:
res = []
for row in range(3):
    tmp = []
    for col in range(3):
        tmp.append(M[row][col] * N[row][col])
    res.append(tmp)
res

[[2, 4, 6], [12, 15, 18], [28, 32, 36]]