### Single- and Double-Quoted Strings Are the Same

In [1]:
'Shrubbery', "Shrubbery"

('Shrubbery', 'Shrubbery')

In [2]:
'knight"s', "knight's"

('knight"s', "knight's")

In [3]:
# implicit concatenation
title = "Meaning " 'of' " life" 
title

'Meaning of life'

### Adding commas between these strings would result in a tuple, not a string.

In [4]:
t = "Meaning ", 'of', " life"
t

('Meaning ', 'of', ' life')

### Escape Sequences Represent Special Characters

In [6]:
s = 'a\nb\tc'
print(s)

a
b	c

- \n stand for a single character, a newline character 
- \t is replaced with the tab character

In [7]:
x = 'a\tb\tc\td'
print(x)

a	b	c	d

In [9]:
len(x), len(s)

(7, 5)

### Raw strings suppresses escapes

In [12]:
myfile = open('C:\new\text.dat', 'w')

OSError: [Errno 22] Invalid argument: 'C:\new\text.dat'

In [16]:
"""add 'r' before the file name 
to turn off the escape mechanism 
and retains the backslashes""" 
myfile = open(r'C:\new\text.dat', 'w')

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\new\\text.dat'

In [17]:
# show as python code
path = r'C:\new\test.dat' 
path

'C:\\new\\test.dat'

In [18]:
# user friendly format
print(path)

C:\new\test.dat

In [19]:
# string length 
len(path)

15

### Triple Quotes Code Multiline Block Strings

In [31]:
""" 
sometimes called a block string,
that is a syntactic convenience for 
coding multiline text data.
""" 

mantra =""" 
Always look 
on the bright 
side of life.
""" 
print(mantra)

Always look
on the bright
side of life.

In [28]:
yeah = "sometimes called a block string, \nthat is a syntactic convenience for \ncoding multiline text data."
print(yeah)

sometimes called a block string,
that is a syntactic convenience for
coding multiline text data.

### triple-quoted strings are also sometimes used as a “horribly hackish” way to temporarily disable lines of code during development

In [35]:
x = 1 
y = 2 
""" 
y ** x # Disable this code temporarily
""" 
2 ** 5

32