### Tuples: Tuples in Action

In [1]:
(1, 2) + (3, 4) # Concatenation

(1, 2, 3, 4)

In [2]:
(1, 2) * 4 # Repetition

(1, 2, 1, 2, 1, 2, 1, 2)

In [3]:
T = (1, 2, 3, 4) # Indexing, slicing
T[0], T[1:3]

(1, (2, 3))

In [4]:
y = (40,) # A tuple containing an integer
y

(40,)

In [6]:
# creating a tuple without the parentheses
T = 0, 'Ni', 1.2, 3 
T

(0, 'Ni', 1.2, 3)

### Conversions, methods, and immutability

In [7]:
T = ('cc', 'aa', 'dd', 'bb')
tmp = list(T) # Make a list from a tuple's items
tmp.sort() # Sort the list
tmp

['aa', 'bb', 'cc', 'dd']

In [8]:
T = tuple(tmp) # Make a tuple from the list's items
T

('aa', 'bb', 'cc', 'dd')

In [9]:
# # Or use the sorted built-in, and save two steps
sorted(T)

['aa', 'bb', 'cc', 'dd']

In [10]:
# List comprehensions can also be used to convert tuples.
T = (1, 2, 3, 4, 5) 
L = [x + 20 for x in T] 
L

[21, 22, 23, 24, 25]

In [11]:
T = (1, [2, 3], 4)
T[1] = 'spam' # This fails: can't change tuple itself

TypeError: 'tuple' object does not support item assignment

In [13]:
T = (1, [2, 3], 4)
T[1][0] = 'spam' # This works: can change mutables inside 
T

(1, ['spam', 3], 4)

### Why Lists and Tuples?

- the immutability of tuples provides some integrity—you can be sure a tuple won’t be changed through another reference elsewhere in a program, but there’s no such guarantee for lists. Tuples

### Records Revisited: Named Tuples

- tuples can serve the purpose of representing record-like information like dictionary

In [3]:
# import extension type 
from collections import namedtuple 
# make a generated class
Rec = namedtuple('Rec', ['name', 'age', 'jobs']) 
# a named-tuple record
bob = Rec('Bob', age=40.5, jobs=['dev', 'mgr']) 
bob

Rec(name='Bob', age=40.5, jobs=['dev', 'mgr'])

In [ ]:
# access by postion 
bob[0], bob[2][0]

In [8]:
# access by attribute 
bob.name, bob.jobs

('Bob', ['dev', 'mgr'])

## Files 

### Opening Files

In [ ]:
""" 
afile = open(filename, mode)
afile.method() 
"""

### Files in Action

In [12]:
# open for text output: create/empty
myfile = open('myfile.txt', 'w') 

# write a line of text: string 
myfile.write('hello text file\n')

16

In [13]:
myfile.write('goodbye text file\n')

18

In [14]:
# flush output buffers to disk 
myfile.close()

In [15]:
# open for text input: 'r' is default
myfile = open('myfile.txt') 
# read the line back
myfile.readline()

'hello text file\n'

In [16]:
myfile.readline()

'goodbye text file\n'

In [17]:
# empty string: end of file
myfile.readline()

''

In [18]:
# read all at once into string 
open('myfile.txt').read()

'hello text file\ngoodbye text file\n'

In [19]:
# user-friendly display
print(open('myfile.txt').read())

hello text file
goodbye text file

### Storing Python Objects in Files: Conversions

In [20]:
# Native python objects 
X, Y, Z = 43, 44, 45 
# must be strings to store in a file
S = 'spam' 
D = {'a':1, 'b':2} 
L = [1, 2, 3]

In [21]:
F = open('datafile.txt', 'w') 
# Terminate lines by \n 
F.write(S + '\n') 
# convert number to strings 
F.write('%s,%s,%s\n' %(X, Y, Z)) 
# convert and sepoarate with $ 
F.write(str(L) + '$' + str(D) + '\n')
F.close()

In [22]:
# raw string display 
chars = open('datafile.txt').read()
chars

"spam\n43,44,45\n[1, 2, 3]${'a': 1, 'b': 2}\n"

In [23]:
# user friendly display
print(chars)

spam
43,44,45
[1, 2, 3]${'a': 1, 'b': 2}

#### Converting back to oringinal object dtype

In [24]:
# open 
F = open('datafile.txt')
# read one line
line = F.readline()
line

'spam\n'

In [25]:
line.rstrip()

'spam'

In [26]:
# next line from file 
line = F.readline()
line

'43,44,45\n'

In [29]:
# split(parse) on commas 
parts = line.split(',')
parts

['43', '44', '45\n']

In [30]:
# convert to int 
numbers = [int(P) for P in parts]
numbers

[43, 44, 45]

In [31]:
# next line from file 
line = F.readline()
line

"[1, 2, 3]${'a': 1, 'b': 2}\n"

In [32]:
# split(parse) on commas 
parts = line.split('$')
parts

['[1, 2, 3]', "{'a': 1, 'b': 2}\n"]

In [35]:
eval(parts[0])

[1, 2, 3]

In [36]:
eval(parts[1])

{'a': 1, 'b': 2}

### Storing Native Python Objects: pickle

In [37]:
D = {'a': 1, 'b': 2}
F = open('datafile.pkl', 'wb')

# pickle any object to file
import pickle
pickle.dump(D, F)
F.close()

In [38]:
F = open('datafile.pkl', 'rb')
E = pickle.load(F)
E

{'a': 1, 'b': 2}

### Storing Python Objects in JSON Format

In [39]:
name = dict(first='Bob', last='Smith')
rec = dict(name=name, job=['dev', 'mgr'], age=40.5)
rec

{'name': {'first': 'Bob', 'last': 'Smith'}, 'job': ['dev', 'mgr'], 'age': 40.5}

In [40]:
import json 
json.dumps(rec)

'{"name": {"first": "Bob", "last": "Smith"}, "job": ["dev", "mgr"], "age": 40.5}'

In [41]:
S = json.dumps(rec)
S

'{"name": {"first": "Bob", "last": "Smith"}, "job": ["dev", "mgr"], "age": 40.5}'

In [45]:
O = json.loads(S)
O

{'name': {'first': 'Bob', 'last': 'Smith'}, 'job': ['dev', 'mgr'], 'age': 40.5}

In [46]:
O == rec

True

In [47]:
json.dump(rec, fp=open('testjson.txt', 'w'), indent=4)
print(open('testjson.txt').read())

{
    "name": {
        "first": "Bob",
        "last": "Smith"
    },
    "job": [
        "dev",
        "mgr"
    ],
    "age": 40.5
}

## Core Types Review and Summary

### Object Flexibility

- Lists, dictionaries, and tuples can hold any kind of object.
- Sets can contain any type of immutable object.
- Lists, dictionaries, and tuples can be arbitrarily nested.
- Lists, dictionaries, and sets can dynamically grow and shrink.

In [48]:
L = ['abc', [(1, 2), ([3], 4)], 5]
L[1]

[(1, 2), ([3], 4)]

In [49]:
L[1][1]

([3], 4)

In [51]:
L[1][1][0]

[3]

In [52]:
L[1][1][0][0]

3

In [53]:
X = [1, 2, 3] 

# Embed references to X's object
L = ['a', X, 'b'] 
D = {'x':X, 'y':2}

In [54]:
X[1] = 'surprise' 
# Changes all three references!
L

['a', [1, 'surprise', 3], 'b']

In [55]:
D

{'x': [1, 'surprise', 3], 'y': 2}

In [56]:
L = [1,2,3]
D = {'a':1, 'b':2}

In [57]:
A = L[:] # Instead of A = L (or list(L))
B = D.copy() # Instead of B = D (ditto for sets)

In [58]:
A[1] = 'Ni'
B['c'] = 'spam'

In [59]:
L, D

([1, 2, 3], {'a': 1, 'b': 2})

In [60]:
A, B

([1, 'Ni', 3], {'a': 1, 'b': 2, 'c': 'spam'})

### Comparisons, Equality, and Truth

In [61]:
L1 = [1, ('a', 3)] # Same value, unique objects
L2 = [1, ('a', 3)]

In [62]:
# Equivalent? Same object? 
L1 == L2, L1 is L2

(True, False)

- The == operator tests value equivalence. Python performs an equivalence test, comparing all nested objects recursively. 

- The is operator tests object identity. Python tests whether the two are really the same object (i.e., live at the same address in memory). 

- In the preceding example, L1 and L2 pass the == test (they have equivalent values because all their components are equivalent) but fail the is check (they reference two different objects, and hence two different pieces of memory). 

- As a rule of thumb, the == operator is what you will want to use for almost all equality checks; is is reserved for highly specialized roles.

In [63]:
L1 = [1, ('a', 3)]
L2 = [1, ('a', 2)]
L1 < L2, L1 == L2, L1 > L2

(False, False, True)

### The Meaning of True and False in Python

- an integer 0 represents False 
- an integer 1 represents True 
- any empty data structure as False 
- any nonempty data structure as True 
- Numbers are False if zero, and True otherwise.
- Other objects are False if empty, and True otherwise 
- None is considered to be False

### Beware of Cyclic Data Structures

In [65]:
L = ['grail'] 
L.append(L) 
L

['grail', [...]]